<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <!-- navbar -->
    <%- include('navbar') %>
    <div class="max-w-4xl mx-auto py-10">

      <!-- component -->
      <div
        class="h-fit bg-gray-200 dark:bg-gray-800 flex flex-wrap items-center justify-center mb-3 mt-10 rounded-lg"
      >
        <div
          class="container lg:w-full bg-white shadow-lg transform duration-200 easy-in-out rounded-lg"
        >
        
            <div class="text-center px-14 py-3">
              <h2 class="text-gray-800 text-3xl font-bold">Hey <%= user.name %>! Welcome Back</h2>
            </div>
         
         
        </div>
      </div>

      <div class="bg-white shadow-md rounded-lg p-6 w-full mb-3">
        <h1 class="text-2xl font-bold mb-4">Write a Blog</h1>
        <form action="/post" method="POST">
          <div class="mb-4">
            <label
              for="content"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Content</label
            >
            <textarea
              id="content"
              name="content"
              rows="5"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none"
              placeholder="Write your post here..."
            ></textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Post
            </button>
          </div>
        </form>
      </div>

      <div class="bg-white shadow-md rounded-lg p-6">

        <h3 class="font-bold" ><%= user.username %>'s Blogs : </h3>

        <% user.post.reverse().forEach((post) => { %>
            <!-- Example of a post start -->
            <div class="mt-6 border border-gray-300 rounded-lg p-2">
                <div class="flex items-center justify-between">
                    <span class="text-gray-700 font-medium">@<%= user.username %></span>
                    <span class="text-gray-500 text-sm"><%= post.date.toLocaleDateString('en-GB', { weekday: 'long', day: 'numeric', month: 'short', year: 'numeric' }) %></span>
                </div>
                <div class="mt-2 text-gray-800">
                    <%= post.content %>
                </div>
                <small class="font-bold" ><%= post.likes.length %></small>
                <div class="mt-2">
                    <a href="/like/<%= post._id %>" class=" mr-2 text-white bg-blue-500 hover:bg-blue-700 font-bold py-1 px-3 rounded">
                        <%= post.likes.indexOf(user._id) ? "Unlike" : "Like" %> 
                    </a>
                    <a href="/edit/<%= post._id %>"  class=" text-white bg-gray-500 hover:bg-gray-700 font-bold py-1 px-3 rounded">
                        Edit
                    </a>
                </div>
            </div>
            <!-- Example of a post end -->
        <% }) %>
        
        </div>
      </div>
    </div>


    
  </body>
 
</html>
